.management {
    margin-bottom: 40px;
  }
  
  .management h2,
  .management h3 {
    margin-bottom: 10px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  input {
    margin-left: 10px;
  }
  
  button {
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  button.book {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  button.cancel {
    background-color: #f44336; /* Red */
    color: white;
  }
  